.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 18px 60px;
  background: #0b3c5d;
  color: #fff;

  .logo {
    font-size: 22px;
    font-weight: bold;
  }

  nav a {
    margin-left: 25px;
    color: white;
    text-decoration: none;
    font-weight: 500;

    &:hover {
      text-decoration: underline;
    }
  }
}
